:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.t-center{
  text-align: center;
}


img{
  max-width: 100%;
}

ul > *, ol > *{
  margin-left: 1rem;
}

h1, h2{
  margin: .5em 0;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  margin-bottom: 2rem;
  .form-element{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}

// ul li{
//   display: flex;
//   gap: .25rem;
//   align-items: center;
// }

.multi-checkbox{
  display: flex;
  flex-direction: column;
  label{
    display: flex;
    gap: .5rem;
    align-items: center;
  }
}

header{
  display: flex;
  align-items: center;
  background-color: #81c5c9;
  figure{
    width: 100px;
    img{
      width: 100%;
    }
  }
}

.navbar{
  
  flex-grow: 1;
  div{
    margin-block: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  button{
    border: none;
    background-color: #543564;
    color: white;
    border-radius: 7px;
    padding: 5px 10px;
  }
  menu{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    gap: 1rem;
    list-style-type: none;
    align-items: center;
    &>div{
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    a{
      text-decoration: none;
      font-weight: bold;
      color: #543564;
      &.active{
        opacity: .5;
        pointer-events: none;
      }
    }
  }
}
li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}
.error{
  color: darkred;
  font-weight: bold;
}

.goBack{
  padding: 15px;
}

.pWrapper{
  padding: 1rem;
  h4{
    color: white;
    display: inline-block;
    margin-block: 20px;
    background-color: #543564;
    padding: 5px 10px;
  }
  h1{
    text-align: center;
  }
}

.pCard{
  ul{
    margin-block: 10px;
    display: flex;
    gap: 15px;
    li{
      margin: 0;
      border: 1px dashed black
    }
  }
}

.pCard{
  overflow: hidden;
  border: 1px solid black;
  width: 500px;
  border-radius: 20px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  & a{
    & div{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      
    }
  }
  figure{
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    position: center;
    img{
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  h3{
    text-align: center;
  }
}

.paginator{
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  button{
    border: none;
    background-color: #543564;
    color: white;
    border-radius: 7px;
    padding: 5px 10px;
  }
}

.pContainer{
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 25px
}
.definePubl{
  display: flex;
  .publ{
    color: green;
  }
  .notPubl{
    color: red;
  }
}
svg{
  font-size: 22px;
}

.loginForm{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  form{
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    input{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
  }
}
.photoForm{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  form{
    width: 500px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div{
      display: flex;
    }
    label{
      width: 100%;
      input,
      textarea{
        width: 100%;

      }
    }
    .checkPubl{
      display: flex;
      align-items: center;
      span{
        margin-bottom: 1px;
      }
    }
    .inputsForm{
      align-self: start;
    }
    input{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
  }
  span{
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
  }
}

.searchBar{
  display: inline-block;
  margin-left: 20px;
  line-height: 22px;
  
}